version: '3.8'

services:
  flask:
    build: ./flask-app
    container_name: flask-app
    environment:
      - FLASK_APP=app.py
    command: gunicorn -w 4 -b 0.0.0.0:5000 app:app
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "8000:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - flask
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
